<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="raceevent" lan="LAN_RACEEVENT_PLUGIN" version="1.0" date="2026-06-18" compatibility="2.3" installRequired="true" >
	<author name="Jimako" url="e107sk.com" />
	<summary lan="">Race event (podujatie)</summary>
	<description lan="">Base plugin for the race-timing suite. Owns the event (podujatie) entity plus the shared infrastructure (config, base DB/mapping layer, LAN) reused by the feature plugins. Has no dependencies - it is the base the other plugins depend on.</description>
	<keywords>
		<word>event</word>
		<word>race</word>
		<word>base</word>
	</keywords>
	<category>content</category>
	<copyright>e107sk.com</copyright>
	<adminLinks>
		<link url="admin/admin_config.php" description="" primary="true"  icon="images/icon_64.png" order="10"
		iconSmall="images/icon_32.png" icon128="images/icon_128.png">LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name='schema_version'>3</pref>
		<pref name='event_name'></pref>
		<pref name='event_date'>0</pref>
		<pref name='event_city'></pref>
		<pref name='event_location'></pref>
		<pref name='event_description'></pref>
		<pref name='event_organizer'></pref>
		<pref name='is_charity'>0</pref>
		<pref name='is_children_runs_included'>0</pref>
		<pref name='is_participate_with_dog_allowed'>0</pref>
		<pref name='registrationStartAt'>0</pref>
		<pref name='registrationEndAt'>0</pref>
		<pref name='payeeIban'></pref>
		<pref name='payeeName'></pref>
		<pref name='payeeSwift'></pref>
	</pluginPrefs>
</e107Plugin>
